/*
  White: #FFFFFF
  Accent 1: #2E5A27
  Accent 2: #1B365D
*/

h1, h2, h3 {
  color: #2E5A27;
}

h1 {
  text-align: center;
}
table {
    border-collapse: collapse;
  }
th, td {
    border: 5px solid;
    color: #1B365D;
    padding: 10px 10px 10px 10px;
  }
a {
  color: #2E5A27;     
  font-weight: bold; 
  text-decoration: none;
}

a:hover {
    color: #1B365D;
  }

.box-demo {
    background-color: #2E5A27; 
    color: #FFFFFF;
    width: 500px;
    padding: 25px;
    border: 30px double #1B365D;
    margin: 0;
  }

.image-box {
    background-color: #2E5A27; 
    width: 646px;
    padding: 20px 15px 10px 15px;
    border: 15px groove #1B365D;
    margin: 0;
  }
body {
    padding: 30px;
    font-size: 1.5em;
}